/* Toolbar icon */
#markdown-preview-icon {
    background: url(markdown-mark.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
    display: inline-block;
    position: relative;
    width: 18px;
    height: 11px;
    padding-right: 8px;
    opacity: .5;
}

#markdown-preview-icon.active {
    background: url(markdown-mark-black.svg);    
    background-size: 100%;
}

#markdown-preview-icon:hover {
	opacity: .75;
}